<?xml version="1.0" encoding="UTF-8"?>

<widget
	xmlns       = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "nl.avans.aii.cmd.SpookyApp"
	version     = "1.0.0"
	versionCode = "100"
>

	<name>SpookyApp</name>
    
	<description>The spookiest app ever made.</description>
    
	<preference name="permissions" value="none"/>

	<icon src="icon.png" />
	<splash src="splash.png" />

</widget>